# Creación de calendario

Este Notebook crea un calendario desde $2018$ hasta $2030$ teniendo en cuenta las siguientes columnas:

| **Columnas**     |
|------------------|
| Fecha            |
| Año              |
| Nombre del mes   |
| Mes en número    |
| Día del mes      |
| Semana del año   |
| Día de la semana |

In [2]:
import pandas as pd

Creamos la función con dos parámetros de entrada $start$ y $end$

In [3]:
def create_date_table2(start='2000-01-01', end='2050-12-31'):
    df = pd.DataFrame({"Fecha": pd.date_range(start, end)})
    df["Año"] = df.Fecha.dt.year
    df["Mes_nombre"] = df.Fecha.dt.month_name()
    df["Mes"] = df.Fecha.dt.month
    df["Dia"] = df.Fecha.dt.day
    df["semana_del_año"] = df.Fecha.dt.isocalendar().week
    df["dia_de_la_semana"] = df.Fecha.dt.dayofweek
    return df

Usamos la función con las fechas que queremos y lo guardamos en un $.csv$

In [ ]:
create_date_table2(start='2018-01-01', end='2030-12-31').to_csv("calendario.csv", index=False)

También se puede la tabla en el notebook de la siguiente forma.

In [4]:
create_date_table2(start='2018-01-01', end='2030-12-31')

          Fecha   Año Mes_nombre  Mes  Dia  semana_del_año  dia_de_la_semana
0    2018-01-01  2018    January    1    1               1                 0
1    2018-01-02  2018    January    1    2               1                 1
2    2018-01-03  2018    January    1    3               1                 2
3    2018-01-04  2018    January    1    4               1                 3
4    2018-01-05  2018    January    1    5               1                 4
...         ...   ...        ...  ...  ...             ...               ...
4743 2030-12-27  2030   December   12   27              52                 4
4744 2030-12-28  2030   December   12   28              52                 5
4745 2030-12-29  2030   December   12   29              52                 6
4746 2030-12-30  2030   December   12   30               1                 0
4747 2030-12-31  2030   December   12   31               1                 1

[4748 rows x 7 columns]